<h3>Results</h3>
<div class="border border-primary" style="max_height: 75%; max_width: 75%; background-color: rgba(0,0,255,.1)">
  <ul>
    <li>Store 1</li>
    <li>Store 2</li>
    <li>Store 3</li>
  </ul>
</div>
